html,body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}


#header {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding-top: 0.51em ;
    background: #572d05dc;
    display: flex;
    justify-content: flex-end;
    font-family:cursive;

}

#header ul {
    list-style: none;
    position: relative;
    right: 18PX;
    top: -1px;
    text-align: center;

}

    
#header li {
    top: -2.5px;
    margin: 0px;
    position: relative;
    display: inline-block;


}

#header a {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 4px 0;
}

#header li a {
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    right: -0.5em;
    top: -0.05em;

}





#header:hover {
    border-radius: 50em;

    background-color: rgba(0, 0, 0, 0.753);
    transition: 4s;

}



#header li a:hover {
    position: relative;
    
    color: rgb(0, 0, 0);
    color: #4A148C;
    background-color: rgb(255, 255, 255);
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 50em;
    transition: 0.5s;
    text-shadow: -.25px -.25px 0 black, 
    .25px .25px black;


}

#logo {
    position:absolute;
    float: left;
    left:0.6em;
    top: 0.6em;
}

#logo img{
    width: 2.5em;
}

#logo:hover{
    position: fixed;
 
 

}

#logo img:hover{
    position: relative;
    background-color: #fff;
    border-radius: 50em;
    transition: 0.5s;
    transform: scale(1.2);
    top: -0.05em;


}


#Welcome h1 {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: scale(2.9);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    font-family:cursive;

}


#Footer{/*
    position: relative;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-image: url("../Content/img-art/silde-img4.jpg");
    background-size: 100%;
    
    background-repeat: no-repeat;
    padding-bottom: 19em;*/
    background-image: url("../Content/img-art/silde-img4.jpg");
    height: auto;
    max-width: 100%;
    position: relative;
    background-position:center;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



div.social-media >ul{
    display: inline-block;
    width: fit-content;

    padding: 0em 1.5em 0em 1.5em ;
    text-align: center;
    
}

.social-media ul{
    position: relative;
    top: 1.5em;
    left: -0.5em;
    list-style: none;
    width: fit-content;
    box-sizing:border-box;

  }

.social-media li{
    display:block;
    margin:0px 0px 25px 15px;
    box-sizing:border-box;
  }


.social-media li a{
    display:block;
    text-decoration: none;
    line-height:40px;
    padding-left:65px;
    position:relative;
    color:#000000;
    width: fit-content;
    font-family:cursive;
    

  }

.social-media li img{    
    position:absolute;
    left:10px;
    top:2px;
    width:38px;
    height:38px;
    transition:all 0.7s ease;
  }

.social-media li a:hover{
    padding: 0px 15px 0px 70px;
    margin: 0em 1em 0em 4em;

  }
.social-media li a:hover{
    color:rgb(0, 0, 0);
    background:#f0f0f0;
    border-radius:50px;
    font-size: 20px;
    height: 55px;
    width: fit-content;
    line-height:55px;
    font-weight:bolder;
    margin: 0em 1em;

  }
.social-media li a:hover>img{
    left:0.2em;
    transform:rotateZ(360deg);
    position:absolute;
    width:50px;
    height:50px;
  }


#secound-li{
    font-family:cursive;
    color: #000000;
    padding-right: fit-content;
    margin-right: 60px;
    text-align: left;
    line-height:40px;
    top: 0em;
    position: absolute;
    left: 72em;
}

#secound-li li{
    margin-top: 2em;
    width: 100%;
    list-style: none;

}
#secound-li li a{
    left: -4em;
    color:#000000;
    font-family:cursive;
    text-decoration: none;
    font-weight: bolder;

 }

 #secound-li li a:hover{
    color:rgb(255, 255, 255);
    font-size: 20px;
    width: fit-content;
    font-weight:bolder;
    transform: scale(1.2);
 }


@media only screen and (min-width: 1270px){

    .social-media{
        padding-bottom: 24%;

    }

    
}
@media only screen and (max-width: 1245px){
    .social-media{
        padding-bottom: 10%;

    }

    #secound-li{
    
        left: 40em;
    }
   


    #Welcome h1 {
        position: absolute;
        top: 35%;
        left: 30%;
        transform: scale(2);
        
    
    }
    #Footer{
        width: 100%;
        padding-bottom: 42em;
    }

}
@media only screen and (min-width: 1245px){

    .social-media{
        padding-bottom: 10%;

    }

    #secound-li{
    
        left: 60em;
    }
   


    #Welcome h1 {
        position: absolute;
        top: 35%;
        left: 35%;
        transform: scale(2);
        
    
    }
}
@media only screen and (min-width: 2000px){

    .social-media{
        padding-bottom: 28.5%;
    } 
}
@media only screen and (max-width: 700px){
   
   
    #secound-li{
    
        left: 20em;
    }
    #Welcome h1 {
        position: absolute;
        top: 35%;
        left: 13%;
        font-size: 40px;
        transform: scale(1);
        
    
    }
    #Footer{
        width: 100%;
        padding-right: 0em ;
        padding-bottom: 42em;
    }
}