
#container{
    padding-bottom:1000px ;
    margin: 0em 7em;
}

#X{ 
    top: 20em;
    left: 14.5%;
    padding: 0.9em 0em;
    display: inline-block;
    position: relative;
    background-color: black;
}

#X a{
    text-decoration:none;
    padding: 1em 5em;
    color: white;
}


.fade-in {
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 5s ease; /* Define the transition property */
}

.fade-in.show {
    opacity: 3; /* Change opacity to 1 to make it visible */
}






#item-display img{
    
    border-radius: 8em;
    margin: 7em 0em;
    top: 3.5em;
    right: 0em;
    width: 40em;
    height: 44em;
    position:relative;
    float: right;
    padding: 0.5em;
    background-color: rgb(0, 0, 0);
}

#item-display p{
    margin: 7em 0em;

    text-align: center;
    position:relative;
    display: inline-block;
    top: 22em;
    width: 40%;
}


