


.split-slider {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 200px;
  top:10em;
}

.slide {
    position: relative;
    left: 50px;
  flex: 0;
  transition: flex 5s;
}



.slide img {
  border-radius: 4em;
  width: 70%;
  height: 80vh;
}

.content {
    position: absolute;
    bottom: 10%; /* Adjust this value as needed */
    right: 5%; /* Adjust this value as needed */
    padding: 20px;
    color: rgb(255, 255, 255);
    background: rgba(87, 47, 2, 0);
    width: 20%; /* Adjust this value as needed */
    opacity: 0;
  }
  
  .content h3{ 
    float: right;
    position: relative;
    top: 0.1em;
  }

  .content-show {
    opacity: 1;
  }

.slide-show {
  flex: 1;
  height: 50vh;

}



/* Add your animations */
@keyframes animation1 {
    
    0% {transform: perspective(400px) rotateY(0);}

  }
  
  .slide-show.flip {
    animation: flip 5s;
  }

@keyframes animation2 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
  }
  
  .slide-show.slideIn {
    animation: slideIn 5s;
  
}

@keyframes animation3{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }
  
  .slide-show.zoomIn {
    animation: zoomIn 5s;
  
}


@keyframes animation4{

        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
      }
      
      .slide-show.rotate {
        animation: rotate 5s;
      }     
/* Add more animations if you have more slides */

.slide-show.animation1 {
  animation: animation1 5s;
}

.slide-show.animation2 {
  animation: animation2 5s;
}



.slide-show.animation3 {
    animation: animation3 5s;
  }


  .slide-show.animation4 {
    animation: animation4 5s;
  }
/* Add more if you have more slides */






