body{
    margin: 0px;
    padding: 0px;
}

#main-body{
    position: absolute;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-image: url("/Content/img-art/img6.jpg");
    background-size: 100%;
    padding-bottom: 0%;
    background-repeat: no-repeat;
   

}


.description{
    text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    color: white;
    padding-bottom: 950px;
        position: relative;
        text-align: center;
        font-family:cursive;
        width: 50%;
        top: 10em;
        left: 22%;
        background-color: rgba(114, 78, 36, 0.712);
        padding: 3em 3em 3em 3em;
        border-radius: 7em;
        margin-bottom: 22em;
    }
    
    
    .description li{
        margin-bottom: 2em;
        font-weight:bolder;
        list-style: none;
    
    }